# System files
/.DS_Store
# vs files
/.vscode
/.venv
/tpp_registration_op/certs/qseal_cert.pem
/tpp_registration_op/certs/qseal_key.pem
/tpp_registration_op/certs/qwac_cert.pem
/tpp_registration_op/certs/qwac_key.pem
/tpp_registration_op/certs/ttp_info.json
# env file
/tpp_registration_op/conf/env.json


