services:
  database:
    container_name: opl_psDB
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - "5432:5432"
    volumes:
      - opldata:/var/lib/postgresql/data
    networks:
      - oplnet

networks:
  oplnet:
    name: oplnet
    driver: bridge

volumes:
  opldata:
